.text-brand {
    color: var(--color-brand-dark);
}

.text-brand-dark {
    color: var(--color-brand-dark);
}

.text-bold{
        font-weight: 600;;
}

.text-uppercase{
    text-transform: uppercase;
}

.text__green-big{
    color: var(--color-brand-dark);    
    text-transform: uppercase;
    margin-bottom: 0px;
    
}