:root {

    --color-primary-black: #3d9a2f;
    --color-base: #438d68;
    --color-secondary-black: #A18268;
    --color-brand-dark: #145d2d;
    --color-brand-light: #afe617;
    --color-black : rgb(26, 26, 26);
    --color-white: #baddb5;
    --color-1-green: #6fa653;
    --color-2-green: #4d8232;
    --color-3-green: #31591b;
    

}

$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;